[user]
	name = Zeshan S. Ali
	email = zeshansali@gmail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	co = checkout
	b = branch
	r = rebase
	rc = rebase --continue
	ra = rebase --abort
	rs = rebase --skip
	f = fetch
	ci = commit
	st = status -s
	p = push
	pf = push --force-with-lease
	pu = pull
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[credential]
	helper = osxkeychain
[core]
	excludesFile = ~/.gitignore
